@model BusinessObjects_Layer.ViewModel.CategoryVM
@{
    ViewData["Title"] = "CreateUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form method="post" asp-action="CreateUpdate">
    <input type="hidden" asp-for="Category.Id" />

    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">@((Model.Category == null|| Model.Category.Id ==0) ? "Create" : "Update") Category</h2>
            <hr/>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="row mb-3">
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" class="form-control" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>

    @if (Model.Category == null | Model.Category.Id == 0)
    {
        <button class="btn btn-primary" type="submit">Create</button>
    }
    else
    {
        <button class="btn btn-primary" type="submit">Update</button>
    }

    <a asp-action="Index" asp-controller="Category">Back to List</a>

</form>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
